{{#each this}}
<div class="country">
    <h2 class="country__title">{{name}}</h2>
    <div class="country__data">
        <ul class="coumtry__list list">
            <li class="country__item"><span>Capital: </span>{{capital}}</li>
            <li class="country__item"><span>Population: </span>{{population}}</li>
            <li class="country__item"><span>Languages: </span>
                <ul class="country__lang">
                    {{#each languages}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img class="country__img" src="{{flag}}" alt="{{name}}" width="320">
    </div>
</div>
{{/each}}